<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundairoad.hyundairoad.image.mapper.ImageMapper">
    <select id="getImageListById" resultType="Image">
        SELECT image_id, member_id, place_id, course_place_id, originalName, savedName
        FROM image
        WHERE image_id = #{imageId}
    </select>
    <select id="getImageListWithCoursePlace" parameterType="Long" resultType="Image">
        SELECT image_id, member_id, place_id, course_place_id, originalName, savedName
        FROM image
        WHERE course_place_id = #{coursePlaceId}
    </select>
    <select id="getImageListWithPlace" parameterType="Long" resultType="Image">
        SELECT image_id, member_id, place_id, course_place_id, originalName, savedName
        FROM image
        WHERE place_id = #{placeId}
    </select>
    <select id="getImageListWithMember" parameterType="Long" resultType="Image">
        SELECT image_id, member_id, place_id, course_place_id, originalName, savedName
        FROM image
        WHERE member_id = #{memberId}
    </select>
    <select id="getImagesByCourseId" parameterType="Long" resultType="Image">
        SELECT image_id, member_id, place_id, course_place_id, course_id, original_name, saved_name
        FROM image
        WHERE course_id = #{courseId}
    </select>
    <insert id="insertImage" useGeneratedKeys="true" keyProperty="imageId" keyColumn="image_id">
        INSERT INTO image (image_id, member_id, place_id, course_place_id, course_id, saved_name, original_name)
        VALUES (IMAGE_ID_SEQ.NEXTVAL, #{memberId}, #{placeId}, #{coursePlaceId}, #{courseId}, #{savedName}, #{originalName})
    </insert>
    <select id="getImageById" resultType="Image">
        SELECT image_id, member_id, place_id, course_place_id, course_id, original_name, saved_name
        FROM image
        WHERE image_id = #{imageId}
    </select>
    <update id="updateImage">
        UPDATE image
        SET
            original_name = #{originalName},
            saved_name = #{savedName}
        WHERE image_id = #{imageId}
    </update>
    <delete id="deleteImage">
        DELETE FROM image WHERE image_id = #{imageId}
    </delete>
</mapper>
