<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyundairoad.hyundairoad.place.mapper.PlaceMapper">
    <select id="selectAllPlaceList" resultType="com.hyundairoad.hyundairoad.place.domain.vo.Place">
        SELECT PLACE_ID,
               NAME,
               PHONE,
               START_TIME,
               END_TIME,
               START_AGE,
               END_AGE,
               WITH_WHOM,
               FLOOR,
               LOCATION,
               CATEGORY,
               THEME1,
               THEME2,
               THEME3,
               WEIGHT1,
               WEIGHT2,
               WEIGHT3
        FROM PLACE
        WHERE PLACE_ID > 0
        ORDER BY PLACE_ID DESC
    </select>

    <insert id="insert">
        INSERT INTO PLACE(
                          NAME,
                          PHONE,
                          START_TIME,
                          END_TIME,
                          START_AGE,
                          END_AGE,
                          WITH_WHOM,
                          FLOOR,
                          LOCATION,
                          TYPE,
                          CATEGORY,
                          THEME1,
                          THEME2,
                          THEME3,
                          WEIGHT1,
                          WEIGHT2,
                          WEIGHT3)
        VALUES (
                #{name},
                #{phone},
                #{startTime},
                #{endTime},
                #{startAge},
                #{endAge},
                #{withWhom},
                #{floor},
                #{location},
                #{type},
                #{category},
                #{theme1},
                #{theme2},
                #{theme3},
                #{weight1},
                #{weight2},
                #{weight3})
    </insert>

    <delete id="delete">
        DELETE FROM PLACE WHERE PLACE_ID = #{placeId}
    </delete>

    <update id="update">
        update PLACE
        set NAME       = #{name},
            PHONE      = #{phone},
            START_TIME = #{startTime},
            END_TIME   = #{endTime},
            START_AGE  = #{startAge},
            END_AGE    = #{endAge},
            WITH_WHOM  = #{withWhom},
            FLOOR      = #{floor},
            LOCATION   = #{location},
            TYPE       = #{type},
            CATEGORY   = #{category},
            THEME1     = #{theme1},
            THEME2     = #{theme2},
            THEME3     = #{theme3},
            WEIGHT1    = #{weight1},
            WEIGHT2    = #{weight2},
            WEIGHT3    = = #{weight3}
        where PLACE_ID = 1;
    </update>

    <select id="selectPlaceStarList" resultType="com.hyundairoad.hyundairoad.place.domain.dto.PlaceStarDto">
        SELECT
            p.PLACE_ID,
            p.NAME,
            p.PHONE,
            p.START_TIME,
            p.END_TIME,
            p.FLOOR,
            p.LOCATION,
            p.CATEGORY,
            ROUND(NVL(avg_rating, 0.0), 1) AS RATE
        FROM
            place p
                LEFT JOIN
            (
                SELECT
                    PLACE_ID,
                    AVG(RATE) AS avg_rating
                FROM
                    MEMBER_PLACE_STAR
                GROUP BY
                    PLACE_ID
            ) mps ON p.PLACE_ID = mps.PLACE_ID
    </select>

    <select id="selectPlaceStarByMemberId" parameterType="Long"
            resultType="com.hyundairoad.hyundairoad.place.domain.dto.PlaceStarDto">
        SELECT
            p.PLACE_ID,
            p.NAME,
            p.PHONE,
            p.START_TIME,
            p.END_TIME,
            p.FLOOR,
            p.LOCATION,
            p.CATEGORY,
            ROUND(NVL(mps.avg_rating, 0), 1) AS RATE
        FROM
            place p
                LEFT JOIN
            (
                SELECT
                    PLACE_ID,
                    AVG(RATE) AS avg_rating
                FROM
                    MEMBER_PLACE_STAR
                GROUP BY
                    PLACE_ID
            ) mps ON p.PLACE_ID = mps.PLACE_ID
                LEFT JOIN
            member_place_like mpl ON p.PLACE_ID = mpl.PLACE_ID
        WHERE
            mpl.MEMBER_ID = #{memberId}

    </select>

    <select id="selectPlaceStarByPlaceId" parameterType="Long"
            resultType="com.hyundairoad.hyundairoad.place.domain.dto.PlaceStarDto">
        SELECT
            p.PLACE_ID,
            p.NAME,
            p.PHONE,
            p.START_TIME,
            p.END_TIME,
            p.FLOOR,
            p.LOCATION,
            p.CATEGORY,
            ROUND(NVL(mps.avg_rating, 0), 1) AS RATE
        FROM
            place p
                LEFT JOIN
            (
                SELECT
                    PLACE_ID,
                    AVG(RATE) AS avg_rating
                FROM
                    MEMBER_PLACE_STAR
                GROUP BY
                    PLACE_ID
            ) mps ON p.PLACE_ID = mps.PLACE_ID
                LEFT JOIN
            member_place_like mpl ON p.PLACE_ID = mpl.PLACE_ID
        WHERE
            p.PLACE_ID = #{placeId}

    </select>

    <select id="getLikedPlacesByMemberId" parameterType="Long" resultType="LikedPlaceDTO">
        SELECT l.place_id, p.name, s.rate, p.category, p.start_time, p.end_time, p.floor
        FROM place p
                 JOIN member_place_like l
                      ON l.place_id = p.place_id
                 JOIN member_place_star s
                      ON s.place_id = p.place_id
        WHERE l.member_id = #{memberId}
    </select>

</mapper>