:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
body {
  margin: 70px 0 0px 0;
  display: flex;
  min-height: calc(100vh);
=======
#root {
  max-width: 100%;
  /* text-align: center; */
}

body {
  margin: 70px 0;
  padding: 0;
  display: flex;
>>>>>>> c7ac69d (feat: 오늘의픽 KAN-101)
}
